.component-column-container {
  background: white;
  margin: 8px 16px;
  padding: 16px 24px;
  border: 1px rgb(150, 150, 150) solid;
  border-radius: 5px;
  box-shadow: rgb(210, 210, 210) 1px 1px 2px;
  width: 300px;
}

.component-column-container:hover {
  transition: 0.5s;
  box-shadow: rgb(200, 200, 200) 5px 5px 1px;
}

.component-column-title {
  font-size: 32px;
  padding: 8px;
  color: white;
  background: rgb(180, 180, 180);
  border-radius: 5px;
  text-align: center;
}

.delete-column-btn {
  background: none;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  padding: 5px auto;
  position: relative;
}

.delete-column-btn:hover {
  background: #fff5dd;
  transform: translate(-0.5px, -0.5px);
  box-shadow: rgb(200, 200, 200) 2px 2px 2px;
}

.delete-column-btn:focus {
  outline: none;
}

.drag-handle {
  border: 1px rgba(200, 200, 200, 0.5) solid;
  background: none;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgb(200, 200, 200);
}

.drag-handle:hover {
  color: rgb(50, 50, 50);
}

.drag-handle:active {
  color: rgb(50, 50, 50);
}

.column-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
