.component-column-container {
  background: white;
  margin: 8px 16px;
  padding: 16px 24px;
  border: 1px rgb(150, 150, 150) solid;
  border-radius: 5px;
  box-shadow: rgb(210, 210, 210) 1px 1px 2px;
  width: 300px;
}

.component-column-container:hover {
  transition: 0.5s;
  box-shadow: rgb(200, 200, 200) 5px 5px 1px;
}

.component-column-title {
  font-size: 32px;
  padding: 8px;
  color: rgb(100, 100, 100);
  background: #ffeaba;
  border-radius: 5px;
}
