.component-column-container {
  background: white;
  margin: 8px 16px;
  padding: 16px 24px;
  border: 1px rgb(210, 210, 210) solid;
  border-radius: 5px;
  box-shadow: rgb(210, 210, 210) 2px 2px 2px;
  width: 300px;
  height: 500px;
}

.component-column-title {
  padding: 8px;
  color: rgb(100, 100, 100);
  background: #f2f2f0;
  border-radius: 5px;
}
